.Register {
    text-align: center;
    margin-top: 2rem;
  }
  
  .form {
    display: inline-block;
    text-align: left;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    width: 500px;
    margin-top: 20px;
    margin-bottom: 60px;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .flexbtn{
    display: flex;
    justify-content: space-around;
  }

  .form-container{
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .separator {
    margin: 0px 0px 13px 0;
    font-size: 14px;
    color: #999;
    text-align: center;
  }
  
  .oauthButtons {
    display: flex;
    justify-content: space-around;
  }
  
  .oauthButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  
  .oauthButton .icon {
    margin-right: 10px;
  }
  
  .google {
    background-color: #db4437;
    color: white;
  }
  
  .google:hover {
    background-color: #c33c28;
  }
  
  .github {
    background-color: #333;
    color: white;
  }
  
  .github:hover {
    background-color: #242424;
  }
  

  @media (max-width: 600px) {
    .oauthButton {
      font-size: 12px;
    }
  }