/* LandingPage.css */

/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Apply a background color to the entire page */
  body {
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
  }
  
  /* Style the header and navigation */
  .header {
    background-color: #ffffff;
    color: #050505;
    position: fixed;
    padding: 10px 0;
    width: -webkit-fill-available;
    z-index: 100;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #0e0d0d;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: #f5a623;
  }
  
  /* Style the hero section */
  .hero {
    /* background-image: url('../images/datastore.jpg');
    background-size: cover; */
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 20px 0px;
    }
  
  .hero-content,.color-content {
    max-width: 800px;
    margin: 0 auto;
    position: absolute;
    top: 180px;
    left: 400px;

  }

  .welcome{
    width: 100%;
    height: 100vh;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 40px;
  }
  
  .aboutus {
    font-size: 18px;
    padding: 10px;
    column-count: 2;
     text-align: justify;
  }
  
  .cta-button {
    background-color: #f5a623;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 30px;
    margin-left: -60px;
  }
  
  .cta-button:hover {
    background-color: #e29500;
  }
  
  /* Add styles for other sections as needed */
  
  /* Style the footer */
  .footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  /* Add additional styles for feature cards, about section, and contact section */
  

  .active-link {
    text-decoration: underline; /* Underline for active link */
    font-weight: bold;          /* Bold text for active link */
    color: #ff5733;        /* Bold text for the active link */
  }

  

  /* CSS for screens with a width of 768px or larger */
@media screen and (max-width: 767px) {
  .hero-content {
    top: 125px;
    left: 0px;

  }

  .color-content{
    max-width: 800px;
    margin: 0 auto;
    position: absolute;
    top: 125px;
    left: 0px;
    background-color: blueviolet;
    padding-bottom: 40px;
    
  }
  .welcome{
    height: 55vh;
  }

  
  .cta-button {
    margin-left: -10px;
  }
  
}
