.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.video-player {
  margin-top: 20px; /* Adjust the margin as needed */
  width: 80%; /* Adjust the width as needed */
  max-width: 800px; /* Set a maximum width to ensure responsiveness */
  float: right;

}


/* LeftMenu.css */
.left-menu {
  width: 20%; /* Adjust the width as needed */
  background-color: #f0f0f0; /* Add your preferred background color */
  height: 495px; /* Set the height to 100% of the viewport height */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px; /* Adjust the padding as needed */
  overflow-x: auto; /* Add horizontal scroll if content overflows */
  white-space: nowrap; /* Prevent line breaks in menu items */
}


.left-menu a {
  text-decoration: none;
  color: #333; /* Add your preferred text color */
  margin-bottom: 10px; /* Adjust the margin between links */
}


.video-container{
  display: flex;
  justify-content: space-between;
}